{% extends 'base.html' %} {% block content %}
<br />
<br />
<br />
<br />
<div class="jumbo">
  <h1 class="text-center">Welcome to Awadz</h1>
  <h2 class="text-center">You Create It, We Rate It</h2>
</div>
<br/>
<br/>
<br/>
<br/>
<div class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="col-sm-8">col-sm-8</div>
      <div class="col-sm-4">col-sm-4</div>
    </div>
    <div class="row">
      <div class="col-sm">col-sm</div>
      <div class="col-sm">col-sm</div>
      <div class="col-sm">col-sm</div>
    </div>
  </div>
</div>

{% endblock %}
